@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mukta';
    src: url('/fonts/mukta-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Mukta';
    src: url('/fonts/mukta-latin-700-normal.woff2') format('woff2');
    font-weight: 700;
  }

  /* Global */

  html {
    @apply font-sans;
  }

  /* Rich text */

  .rich-text p {
    @apply mb-4;
  }

  .rich-text strong,
  .rich-text b {
    @apply font-bold;
  }
}
