@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mukta';
    src: url('@fontsource/mukta/files');
    font-weight: 700;
  }

  /* Global */

  html {
    @apply font-sans;
  }

  /* Rich text */

  .rich-text p {
    @apply mb-4;
  }

  .rich-text strong,
  .rich-text b {
    @apply font-bold;
  }
}
