---
import Layout from '../layouts/Layout.astro';
import * as content from '../../content/imprint.md';

const { title } = content.frontmatter;
---

<Layout title={title}>
  <a href='/'>
    <img
      src='/media/bff-logo-heart.png'
      alt=''
      class='fixed top-4 left-4 h-8 md:h-12 z-10'
    />
  </a>
  <div class='grid lg:grid-cols-[1fr,3fr] my-20'>
    <div class='m-4 mb-10 lg:mx-20'>
      <h3 class='font-bold mb-4'>CONTACT</h3>
      <p class='mb-4'>
        <span class='block font-bold'>BFF | best films forever</span>
        <span class='block'>Baumgartner Kahlert GbR</span>
        <span class='block'>Feurigstr. 19</span>
        <span class='block mb-2'>10827 Berlin</span>
        <a class='block' href='mailto:mail@bestfilmsforever.com'>
          mail@bestfilmsforever.com
        </a>
      </p>
      <p>
        <span class='block font-bold'>Managing Directors BFF</span>
        <span class='block'>Zoe Kahlert</span>
        <span>Theresa Baumgartner</span>
      </p>
    </div>
    <div class='max-w-3xl rich-text m-4'>
      <Fragment set:html={content.compiledContent()} />
    </div>
  </div>
</Layout>
