---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Layout from '../layouts/Layout.astro';
import { getImprintPage } from '../queries/Imprint';

const { title, contact, imprint } = await getImprintPage();
console.log(imprint);
---

<Layout title={title}>
  <a href='/'>
    <img
      src='/media/bff-logo-heart.png'
      alt=''
      class='fixed top-4 left-4 h-8 md:h-12 z-10'
    />
  </a>
  <div class='grid lg:grid-cols-[1fr,3fr] my-20'>
    <div class='m-4 mb-10 lg:mx-20'>
      <Fragment set:html={documentToHtmlString(contact.json)} />
    </div>
    <div class='max-w-3xl rich-text m-4'>
      <Fragment set:html={documentToHtmlString(imprint.json)} />
    </div>
  </div>
</Layout>
