---
import Layout from '../layouts/Layout.astro';
import * as content from './index.md';
---

<Layout title={content.frontmatter.title}>
  <main>
    <h1 class='text-2xl'>
      {content.frontmatter.title}
    </h1>
  </main>
</Layout>
