---
import Layout from '../layouts/Layout.astro';
import * as content from './index.json';
---

<Layout title={content.title}>
  <main>
    <h1 class='text-2xl'>
      {content.title}
    </h1>
  </main>
</Layout>
