---
import Twitch from '../components/icons/Twitch.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Instagram from '../components/icons/Instagram.astro';
import Facebook from '../components/icons/Facebook.astro';
---

<footer class='bg-black py-10 text-white relative'>
  <img
    src='/media/bff-logo.png'
    alt=''
    class='md:absolute top-24 left-1/2 md:-translate-x-1/2 m-4 mb-8 h-12 z-10'
  />
  <div class='md:flex justify-between'>
    <div class='m-8'>
      <span class='uppercase text-pink-600 text-sm mb-6 block'
        >Get in touch</span
      >
      <span class='uppercase text-gray-300 text-sm block'
        >BFF | Best Films Forever</span
      >
      <a
        href='mailto:mail@bestfilmsforever.com'
        class='text-gray-500 hover:text-gray-300 mb-6 block'
        >mail@bestfilmsforever.com</a
      >
      <a
        href='/imprint'
        class='text-gray-500 hover:text-gray-300 block mb-8 md:mb-0'
        >Imprint & Privacy policy</a
      >
    </div>
    <div class='m-4 md:text-right'>
      <span class='uppercase text-pink-600 text-sm mb-6 md:mb-8 block'
        >Follow us</span
      >
      <ul class='flex gap-4 md:justify-end mb-6 md:mb-8'>
        <li>
          <a
            class='fill-current text-gray-300 hover:opacity-60'
            href='https://www.instagram.com/bff_bestfilmsforever/'
          >
            <Instagram />
          </a>
        </li>
        <li>
          <a
            class='fill-current text-gray-300 hover:opacity-60'
            href='https://www.facebook.com/bestfilmsforevercollective/'
          >
            <Facebook />
          </a>
        </li>
        <li>
          <a
            class='fill-current text-gray-300 hover:opacity-60'
            href='https://www.twitch.tv/bestfilmsforever'
          >
            <Twitch />
          </a>
        </li>
        <li>
          <a
            class='fill-current text-gray-300 hover:opacity-60'
            href='https://www.linkedin.com/company/bff-best-films-forever-collective/'
          >
            <LinkedIn />
          </a>
        </li>
      </ul>
      <span class='text-gray-300 text-sm'>© 2021 BFF | bestfilmsforever</span>
    </div>
  </div>
</footer>
